__pycache__/
backup_datasets/
#processed_dataset/
unproccesed_dataset/
photo_transformation_testing/annotations/
wandb/
classification_model/processing_dataset_phase_1
classification_model/processing_dataset_phase_2
#classification_model/processing_dataset_phase_final
venv/