venv/
__pycache__/
wandb/

info/models/

validation_model/unproccesed_dataset/
#validation_model/processed_dataset/

classification_model/processing_dataset_phase_1/
classification_model/processing_dataset_phase_2/
#classification_model/processed_dataset/

retinoblastoma_model/
