annotated-types==0.7.0
asttokens==3.0.0
certifi==2025.1.31
matplotlib==3.10.0
scikit-learn==1.6.1
numpy==2.0.2
seaborn==0.13.2
wandb==0.19.7
ipykernel==6.29.5
opencv-python==4.11.0.86
pycocotools==2.0.10
urllib3==2.3.0
uvicorn==0.34.2
boto3==1.38.27
fastapi==0.115.12
pydantic==2.11.1
pillow==11.1.0
python-dotenv==1.1.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0+cu126
torchaudio==2.7.0+cu126
torchvision==0.22.0+cu126